<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <title>Anagram Tester</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Anagram Tester!</h1>
        <p>Type in a word and then some other words, we'll let you know which of them are anagrams!</p>
      </header>

      <form action="/anagram_list">

        <div class="form-group">
          <label for="word_one">Enter a word</label>
          <input id="word_one" class="form-control" type="text" name="word_one">
        </div>

        <div class="form-group">
          <label for="word_two">Enter another word</label>
          <input id="word_two" class="form-control" type="text" name="word_list">
        </div>


        <button type="submit" class="btn">Submit</button>

      </form>
    </div>
  </body>
</html>
